<style>
.nav{
    background-color: green;color: white;
    padding-bottom: 0.5px;
    padding-top: 0.5px;
    
}
.box{
    position:absolute;
    border-radius: 50px;
    top:7%;
    width: 500px;
    height:35px;
    left: 30%;
    color: white;

    
}
p{
    margin-left: 60px;
}
h3{
    margin-left: 30px;
}
h4{
    margin-left: 30px;
}
.pages{
    background-color: rgba(128, 128, 128, 0.511);color: white;
    width: 300px;
    padding: auto;
    height: 0%;
    

    
}
input{
    position:relative;
    width:400px;
    height:50px;
    border-radius:20px ;
}
.update{
     
    margin-left: 450px;
}

.right{
    margin-left:1200px ; 
}
button{
    background-color: darkgreen;color: white;
}



        </style>




        